{% extends "base.html" %}

{% block title %}
    Série A
{% endblock %}

{% block link %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block main %}
    <h1>Times Brasileiro Série A 2021</h1>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Clube</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
            {% for time in times %}
                <tr>
                    <td>{{ time.id }}</td>
                    <td>{{ time.nome }}</td>
                    <td>{{ time.estados.sigla }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%  endblock %}